---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me | Danil Hendra Suryawan">
  <main class="my-32 max-w-[1200px] mx-auto flex flex-col gap-20">
    <section class="px-5 flex flex-col-reverse md:flex-row gap-20 md:gap-10">
      <div class="flex flex-col gap-5 w-full md:w-3/5">
        <h1 class="text-3xl font-bold">Hey there 👋</h1>
        <p class="font-semibold">
          I'm Danil Hendra Suryawan. You can call me Danil.
        </p>
        <div class="text-[#425466] flex flex-col gap-5">
          <p class="w-5/6">
            I'm a muslim and a software engineer based in Sidoarjo, Indonesia.
            Currently a full-stack engineer in a South Tangerang-based
            consulting company.
          </p>
          <p class="w-5/6">
            I'm a computer science graduate from Universitas Pembangunan
            Nasional "Veteran" Jawa Timur. I've been in touch with programming
            since high-school, mostly through web-development (HTML, CSS, JS,
            PHP and stuff). I've graduated in 2023 with 3.9/4 GPA. Have done
            several internships as a student and have been working as a
            full-stack engineer since 1 year before graduation.
          </p>
          <p class="w-5/6">
            Now I'm meddling around with technologies like React, TypeScript,
            and Go. I'm interested in learning more about the cloud-native way,
            and would love the chance to work with Rust full-time.
          </p>
          <p class="w-5/6">
            I'm a guy with lots of interests, so aside of programming I also do
            stuff like:
          </p>
          <ol class="list-disc text-sm px-3">
            <li>
              Sports (football, badminton, weightlifting, running, hiking, and
              combat sports).
            </li>
            <li>Taking pictures (albeit I'm not really good at it :p)</li>
            <li>
              Reading non-technical books (novels, religions, history, politics,
              financial, just anything other than comics)
            </li>
            <li>Writing (I write poems sometimes by the way)</li>
            <li>If not for my religion, I'd probably do music too</li>
          </ol>
          <p>
            So feel free to talk to me about those if you happen to have the
            same interest! :D
          </p>
        </div>
      </div>
      <div
        class="w-full md:w-2/5 flex flex-col gap-10 items-center justify-center"
      >
        <div
          class="overflow-hidden flex justify-center items-center rotate-12 shadow-md p-3 flex-col w-fit"
        >
          <img
            src="me.webp"
            alt="Danil Hendra Suryawans's Picture"
            class="w-[260px] h-[290px] md:w-[270px] md:h-[300px] object-cover"
          />
        </div>
        <div
          class="overflow-hidden flex justify-center items-center -rotate-12 shadow-md p-3 flex-col w-fit bg-white mr-10 translate-x-10 -translate-y-10"
        >
          <img
            src="sidoarjo.png"
            alt="Sidoarjo"
            class="w-[270px] md:w-[300px] object-fill"
          />
        </div>
      </div>
    </section>
  </main>
</Layout>
