---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Danil Hendra Suryawan">
  <main>
    <section class="h-screen w-screen relative">
      <div class="absolute top-1/2 left-32 -translate-y-1/2 leading-7">
        <h1 class="text-5xl font-bold">Danil Hendra Suryawan</h1>
        <p class="text-lg font-light text-[#425466] my-2">
          Software engineer doing full-stack stuff.
        </p>

        <p class="font-light my-5 text-[#425466]">
          Currently a full-stack engineer at
          <a
            target="_blank"
            class="text-[#635bff] hover:underline"
            href="https://selarastech.com"
          >
            Selarastech.
          </a>
          <br />
          Previously a computer science student at
          <a
            target="_blank"
            class="text-[#635bff] hover:underline"
            href="https://upnjatim.ac.id"
          >
            UPN Jawa Timur.
          </a>
        </p>

        <div class="flex gap-1">
          <a
            target="_blank"
            href="https://github.com/danilhendrasr"
            class="inline-block hover:bg-slate-200 w-fit transition-colors duration-300 p-2 rounded-md"
          >
            <img src="/github.svg" class="w-5" />
          </a>
          <a
            target="_blank"
            href="https://linkedin.com/in/danilhendrasr"
            class="inline-block hover:bg-slate-200 w-fit transition-colors duration-300 p-2 rounded-md"
          >
            <img src="/linkedin.svg" class="w-5" />
          </a>
          <a
            target="_blank"
            href="https://twitter.com/danilhendrasr"
            class="inline-block hover:bg-slate-200 w-fit transition-colors duration-300 p-2 rounded-md"
          >
            <img src="/x.svg" class="w-5" />
          </a>
          <a
            target="_blank"
            href="https://leetcode.com/danilhendrasr"
            class="inline-block hover:bg-slate-200 w-fit transition-colors duration-300 p-2 rounded-md"
          >
            <img src="/leetcode.svg" class="w-5" />
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>
