---
import Layout from "../layouts/Layout.astro";
import ClickableLink from "../components/ClickableLink.astro";
---

<Layout title="Danil Hendra Suryawan">
  <main>
    <section class="h-screen w-screen relative">
      <div class="absolute top-1/2 left-32 -translate-y-1/2 leading-7">
        <h1 class="text-5xl font-bold">Danil Hendra Suryawan</h1>
        <p class="font-light my-2">
          Full-stack engineer at
          <ClickableLink link="https://selarastech.com">
            Selarastech
          </ClickableLink>
        </p>

        <p class="font-light my-5 text-[#425466]">
          I work with end-to-end web technologies and stuff. Creating and
          <br />
          solving problems using React, TypeScript, Go, and MySQL.
        </p>

        <p class="font-light text-[#425466] mb-2">
          View my
          <ClickableLink
            link="https://docs.google.com/document/d/1zmPBRiLGmQnJuW0bGpEuAWashMNqsvDHWClJsosU4dw/edit"
          >
            resume,
          </ClickableLink>
          <ClickableLink link="mailto:hello@dhsrlab.com">
            email me,
          </ClickableLink> or find me online:
        </p>
        <div class="flex gap-1">
          <a
            target="_blank"
            href="https://github.com/danilhendrasr"
            class="inline-block hover:bg-slate-200 w-fit transition-colors duration-300 p-2 rounded-md"
          >
            <img src="/github.svg" class="w-5" />
          </a>
          <a
            target="_blank"
            href="https://linkedin.com/in/danilhendrasr"
            class="inline-block hover:bg-slate-200 w-fit transition-colors duration-300 p-2 rounded-md"
          >
            <img src="/linkedin.svg" class="w-5" />
          </a>
          <a
            target="_blank"
            href="https://twitter.com/danilhendrasr"
            class="inline-block hover:bg-slate-200 w-fit transition-colors duration-300 p-2 rounded-md"
          >
            <img src="/x.svg" class="w-5" />
          </a>
          <a
            target="_blank"
            href="https://leetcode.com/danilhendrasr"
            class="inline-block hover:bg-slate-200 w-fit transition-colors duration-300 p-2 rounded-md"
          >
            <img src="/leetcode.svg" class="w-5" />
          </a>
        </div>
      </div>

      <div class="absolute top-1/2 right-60 -translate-y-1/2 h-fit">
        <figure class="flex items-center flex-col">
          <img src="/bw-portrait.png" class="w-[350px]" />
          <figcaption class="font-extralight my-2 text-xs">
            Pardon the weird mix of outer clothes :p
          </figcaption>
        </figure>
      </div>

      <a
        class="absolute left-1/2 -translate-x-1/2 bottom-5 flex items-center flex-col group"
        href="#about"
      >
        <span
          class="text-[#425466] text-sm mb-0 group-hover:mb-2 group-hover:opacity-100 opacity-0 transition-all duration-300"
        >
          Next section
        </span>
        <img
          src="/bottom-arrow.svg"
          class="w-7 transition-all origin-bottom rotate-2 animate-bounce opacity-60 group-hover:opacity-100 duration-300"
          id="hero-bottom-arrow"
        />
      </a>
    </section>
  </main>
</Layout>

<script></script>
